@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {

  /* Palette */
  --background: #ededed;
  --foreground: #0a0a0a;
  --color-cyan-100: #D5F6F6;
  --color-cyan-200: #B0ECEC;
  --color-cyan-300: #8AE2E2;
  --color-cyan-400: #65D3D3;
  --color-cyan-standard: #52BEBD;
  --color-cyan-500: #44A9A9;
  --color-cyan-600: #3A9292;
  --color-cyan-700: #327A7A;
  --color-cyan-800: #2A6363;
  --color-cyan-900: #214B4B;
  --color-blue-100: #D9E1F4;
  --color-blue-200: #B5C5E9;
  --color-blue-300: #91A8DD;
  --color-blue-400: #6D8CD2;
  --color-blue-standard: #5474B7;
  --color-blue-500: #4A67A4;
  --color-blue-600: #3F5A91;
  --color-blue-700: #354C7E;
  --color-blue-800: #2B3F6B;
  --color-blue-900: #213258;
  --color-purple-100: #E2E0F4;
  --color-purple-200: #C6C2E8;
  --color-purple-300: #AAA3DC;
  --color-purple-400: #8E85D0;
  --color-purple-standard: #7069AE;
  --color-purple-500: #645EA0;
  --color-purple-600: #585291;
  --color-purple-700: #4B4683;
  --color-purple-800: #3F3A74;
  --color-purple-900: #332E66;
  --color-magenta-100: #F4E0ED;
  --color-magenta-200: #E8C2DA;
  --color-magenta-300: #DCA3C7;
  --color-magenta-400: #D085B4;
  --color-magenta-standard: #AD689E;
  --color-magenta-500: #9E5E8F;
  --color-magenta-600: #8E547F;
  --color-magenta-700: #7F4A70;
  --color-magenta-800: #6F3F60;
  --color-magenta-900: #603550;
  --color-rose-100: #FBE0E3;
  --color-rose-200: #F6BEC4;
  --color-rose-300: #F19CA4;
  --color-rose-400: #EB7B85;
  --color-rose-standard: #DE5764;
  --color-rose-500: #C84E5A;
  --color-rose-600: #B14550;
  --color-rose-700: #9B3C46;
  --color-rose-800: #84333C;
  --color-rose-900: #6E2A32;
  --color-amber-100: #FBECDD;
  --color-amber-200: #F6D6B8;
  --color-amber-300: #F1C093;
  --color-amber-400: #ECAA6E;
  --color-amber-standard: #DD9356;
  --color-amber-500: #C9844D;
  --color-amber-600: #B57544;
  --color-amber-700: #A1663B;
  --color-amber-800: #8D5732;
  --color-amber-900: #794829;
  --max-width: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

.hover-button {
  transition: all;
  transition-duration: 300ms;
}

.hover-button:hover {
  opacity: 0.75;
}

.max-width {
  max-width: var(--max-width);
  /* px-4 md:px-12 */
  padding: 0 4rem;
  box-sizing: border-box;
  width: 100%;

}

@media (max-width: 768px) {
  .max-width {
    padding: 0 1rem;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

