@import "tailwindcss";

@theme {

  /* Palette */
  --background: #ededed;
  --foreground: #0a0a0a;
  --color-cyan-100: #D5F6F6;
  --color-cyan-200: #B0ECEC;
  --color-cyan-300: #8AE2E2;
  --color-cyan-400: #65D3D3;
  --color-cyan-standard: #52BEBD;
  --color-cyan-500: #44A9A9;
  --color-cyan-600: #3A9292;
  --color-cyan-700: #327A7A;
  --color-cyan-800: #2A6363;
  --color-cyan-900: #214B4B;
  --color-blue-100: #D9E1F4;
  --color-blue-200: #B5C5E9;
  --color-blue-300: #91A8DD;
  --color-blue-400: #6D8CD2;
  --color-blue-standard: #5474B7;
  --color-blue-500: #4A67A4;
  --color-blue-600: #3F5A91;
  --color-blue-700: #354C7E;
  --color-blue-800: #2B3F6B;
  --color-blue-900: #213258;
  --color-purple-100: #E2E0F4;
  --color-purple-200: #C6C2E8;
  --color-purple-300: #AAA3DC;
  --color-purple-400: #8E85D0;
  --color-purple-standard: #7069AE;
  --color-purple-500: #645EA0;
  --color-purple-600: #585291;
  --color-purple-700: #4B4683;
  --color-purple-800: #3F3A74;
  --color-purple-900: #332E66;
  --color-magenta-100: #F4E0ED;
  --color-magenta-200: #E8C2DA;
  --color-magenta-300: #DCA3C7;
  --color-magenta-400: #D085B4;
  --color-magenta-standard: #AD689E;
  --color-magenta-500: #9E5E8F;
  --color-magenta-600: #8E547F;
  --color-magenta-700: #7F4A70;
  --color-magenta-800: #6F3F60;
  --color-magenta-900: #603550;
  --color-rose-100: #FBE0E3;
  --color-rose-200: #F6BEC4;
  --color-rose-300: #F19CA4;
  --color-rose-400: #EB7B85;
  --color-rose-standard: #DE5764;
  --color-rose-500: #C84E5A;
  --color-rose-600: #B14550;
  --color-rose-700: #9B3C46;
  --color-rose-800: #84333C;
  --color-rose-900: #6E2A32;
  --color-amber-100: #FBECDD;
  --color-amber-200: #F6D6B8;
  --color-amber-300: #F1C093;
  --color-amber-400: #ECAA6E;
  --color-amber-standard: #DD9356;
  --color-amber-500: #C9844D;
  --color-amber-600: #B57544;
  --color-amber-700: #A1663B;
  --color-amber-800: #8D5732;
  --color-amber-900: #794829;
  --max-width: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-button {
  transition: all;
  transition-duration: 300ms;
}

.hover-button:hover {
  opacity: 0.75;
}

.max-width {
  max-width: var(--max-width);
  /* px-4 md:px-12 */
  padding: 0 4rem;
  box-sizing: border-box;
  width: 100%;

}

@media (max-width: 768px) {
  .max-width {
    padding: 0 1rem;
  }
}



