@import "tailwindcss";

:root {

  --background: #ededed;
  --foreground: #0a0a0a;
  --cyan-100: #D5F6F6;
  --cyan-200: #B0ECEC;
  --cyan-300: #8AE2E2;
  --cyan-400: #65D3D3;
  --cyan-standard: #52BEBD;
  --cyan-500: #44A9A9;
  --cyan-600: #3A9292;
  --cyan-700: #327A7A;
  --cyan-800: #2A6363;
  --cyan-900: #214B4B;
  --blue-100: #D9E1F4;
  --blue-200: #B5C5E9;
  --blue-300: #91A8DD;
  --blue-400: #6D8CD2;
  --blue-standard: #5474B7;
  --blue-500: #4A67A4;
  --blue-600: #3F5A91;
  --blue-700: #354C7E;
  --blue-800: #2B3F6B;
  --blue-900: #213258;
  --purple-100: #E2E0F4;
  --purple-200: #C6C2E8;
  --purple-300: #AAA3DC;
  --purple-400: #8E85D0;
  --purple-standard: #7069AE;
  --purple-500: #645EA0;
  --purple-600: #585291;
  --purple-700: #4B4683;
  --purple-800: #3F3A74;
  --purple-900: #332E66;
  --magenta-100: #F4E0ED;
  --magenta-200: #E8C2DA;
  --magenta-300: #DCA3C7;
  --magenta-400: #D085B4;
  --magenta-standard: #AD689E;
  --magenta-500: #9E5E8F;
  --magenta-600: #8E547F;
  --magenta-700: #7F4A70;
  --magenta-800: #6F3F60;
  --magenta-900: #603550;
  --rose-100: #FBE0E3;
  --rose-200: #F6BEC4;
  --rose-300: #F19CA4;
  --rose-400: #EB7B85;
  --rose-standard: #DE5764;
  --rose-500: #C84E5A;
  --rose-600: #B14550;
  --rose-700: #9B3C46;
  --rose-800: #84333C;
  --rose-900: #6E2A32;
  --amber-100: #FBECDD;
  --amber-200: #F6D6B8;
  --amber-300: #F1C093;
  --amber-400: #ECAA6E;
  --amber-standard: #DD9356;
  --amber-500: #C9844D;
  --amber-600: #B57544;
  --amber-700: #A1663B;
  --amber-800: #8D5732;
  --amber-900: #794829;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
